{{> layout/header}}

<body>

<div class="container">
    <h1 class="pt-md-5 pb-md-5">Trainers</h1>

    <div class="card-deck">
        {{#trainerList}}
        <div class="col-md-3">
            <div class="card shadow-sm mb-3">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{name}}

                    </h4>
                </div>

                {{#team}}

                <img class="d-block w-100"  src="{{type.sprites.front_default}}" alt="Pokemon"/>
                 <img class="d-block w-100"  src="{{type.sprites.back_default}}" alt="Pokemon"/>


                <div class="card-body">
                    <span class="badge badge-info">Level : {{level}}</span>
                </div>
                <div class="card-body">
                    <span class="badge badge-primary">Speed : {{type.stats.speed}}</span>
                    <span class="badge badge-primary">Attack : {{type.stats.attack}}</span>
                    <span class="badge badge-primary">Defense : {{type.stats.defense}}</span>
                    <span class="badge badge-primary">HP : {{type.stats.hp}}</span>
                </div>
                <div class="card-body">
                    {{#type.types}}
                    <span class="badge badge-secondary">{{this}}</span>
                    {{/type.types}}
                </div>
                {{/team}}

            </div>
        </div>
        {{/trainerList}}
    </div>

</div>

</body>
</html>